<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>case1</key>
  <array>
    <string>asterisk</string>
    <string>sterling</string>
    <string>Euro</string>
    <string>yen</string>
    <string>dollar</string>
    <string>numbersign</string>
    <string>uni20A1</string>
    <string>uni20A4</string>
    <string>uni20A6</string>
    <string>uni20A7</string>
    <string>uni20AB</string>
    <string>uni20B1</string>
    <string>uni20B2</string>
    <string>uni20B5</string>
    <string>uni20B9</string>
    <string>section</string>
    <string>paragraph</string>
    <string>dagger</string>
    <string>daggerdbl</string>
  </array>
  <key>case2</key>
  <array>
    <string>asterisk.cap</string>
    <string>sterling.cap</string>
    <string>Euro.cap</string>
    <string>yen.cap</string>
    <string>dollar.cap</string>
    <string>numbersign.cap</string>
    <string>uni20A1.cap</string>
    <string>uni20A4.cap</string>
    <string>uni20A6.cap</string>
    <string>uni20A7.cap</string>
    <string>uni20AB.cap</string>
    <string>uni20B1.cap</string>
    <string>uni20B2.cap</string>
    <string>uni20B5.cap</string>
    <string>uni20B9.cap</string>
    <string>section.cap</string>
    <string>paragraph.cap</string>
    <string>dagger.cap</string>
    <string>daggerdbl.cap</string>
  </array>
  <key>dnom1</key>
  <array>
    <string>uni2080</string>
    <string>uni2081</string>
    <string>uni2082</string>
    <string>uni2083</string>
    <string>uni2084</string>
    <string>uni2085</string>
    <string>uni2086</string>
    <string>uni2087</string>
    <string>uni2088</string>
    <string>uni2089</string>
  </array>
  <key>frac1</key>
  <array>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
  </array>
  <key>frac2</key>
  <array>
    <string>uni2080</string>
    <string>uni2081</string>
    <string>uni2082</string>
    <string>uni2083</string>
    <string>uni2084</string>
    <string>uni2085</string>
    <string>uni2086</string>
    <string>uni2087</string>
    <string>uni2088</string>
    <string>uni2089</string>
    <string>fraction</string>
  </array>
  <key>lnum1</key>
  <array>
    <string>zero.tosn</string>
    <string>one.tosn</string>
    <string>two.tosn</string>
    <string>three.tosn</string>
    <string>four.tosn</string>
    <string>five.tosn</string>
    <string>six.tosn</string>
    <string>seven.tosn</string>
    <string>eight.tosn</string>
    <string>nine.tosn</string>
  </array>
  <key>numr1</key>
  <array>
    <string>uni2070</string>
    <string>onesuperior</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>uni2074</string>
    <string>uni2075</string>
    <string>uni2076</string>
    <string>uni2077</string>
    <string>uni2078</string>
    <string>uni2079</string>
  </array>
  <key>subs1</key>
  <array>
    <string>uni2080</string>
    <string>uni2081</string>
    <string>uni2082</string>
    <string>uni2083</string>
    <string>uni2084</string>
    <string>uni2085</string>
    <string>uni2086</string>
    <string>uni2087</string>
    <string>uni2088</string>
    <string>uni2089</string>
  </array>
  <key>sups1</key>
  <array>
    <string>uni2070</string>
    <string>onesuperior</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>uni2074</string>
    <string>uni2075</string>
    <string>uni2076</string>
    <string>uni2077</string>
    <string>uni2078</string>
    <string>uni2079</string>
  </array>
</dict>
</plist>
